@model IEnumerable<TaskManagerUI.Models.TaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary mt-2">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class = "btn btn-outline-primary"}) |
                    @Html.ActionLink("Assigned To", "AssignedTo", new { id=item.Id }, new {@class = "btn btn-outline-success"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new {@class = "btn btn-outline-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
